@import url("../../App.css");

.stickyPosition {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Ltext,
.Dtext {
  width: 10%;
  text-align: center;
  color: var(--color4);
  font-weight: var(--bold);
  font-size: var(--p2);
  word-wrap: unset;
}

.dark,
.light {
  width: 0.8em;
  height: 1.75em;
}

.light {
  color: #111;
  background-color: red;
}

.toggleBall {
  display: flex;
  flex-direction: column;
  border-radius: 3.125rem;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color4);
  padding: 0.125rem 0;
}

.ball {
  width: 0.55rem;
  height: 0.55rem;
  border-radius: 50%;
  background-color: var(--white);
  transition: transform 200ms linear;
}

.on {
  justify-content: end;
}
