@import url("./../../App.css");

@media (min-width: 767px) {
  .mainNav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: 0.3rem 1rem 1rem;
    justify-content: space-around;
    z-index: 9;
  }

  .shadowNav {
    background: var(--white);
    box-shadow: var(--shadow);
    transition-delay: 1000ms ease-in-out;
    transition-timing-function: ease-in-out;
    background-color: var(--black);
  }

  .shadowNav a {
    color: var(--white);
  }

  .navDivBig {
    transition: 600ms;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    z-index: 10;
  }

  .fughesiInk {
    font-weight: var(--bold);
  }

  .big {
    color: var(--white);
  }

  .NavBG {
    position: static;
    min-height: 100%;
    transform: scale(1);
    display: inline-block;
    overflow: auto;
    align-items: center;
  }

  .navBigUL,
  .navBigULBig {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--black);
    padding: 0 2rem 0 0;
  }

  .navBigUL li a {
    position: relative;
    font-size: var(--p0);
    padding: 0 1.25em;
  }

  .navBigULBig li a {
    position: relative;
    padding: 0 0.25em;
    font-size: var(--p2);
  }

  .navBigUL li a:after,
  .navBigULBig li a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color3);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .navBigUL li a:hover:after,
  .navBigULBig li a:hover:after {
    width: 50%;
    left: 25%;
  }

  .monkeyHead {
    margin: 0 1.5rem 0 2rem;
    width: 50px;
    fill: var(--color3);
    transition: 1000ms;
  }

  .monkeyHeadBig {
    margin: 0.5rem 1.5rem 0 2rem;
    width: 150px;
    fill: var(--color5);
    transition: 1000ms;
  }

  .socials,
  .socialsBig {
    margin: 0 0.5rem;
    fill: var(--color4);
    cursor: pointer;
  }

  .etsy {
    position: relative;
  }

  .etsy:hover {
    fill: #e65300;
    filter: brightness(1.5);
  }

  .etsy::after {
    content: "ETSY";
    color: #e65300;
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 90px;
  }

  .FB2:hover {
    fill: #6e87f5;
    filter: saturate(5);
  }

  .IG2:hover {
    fill: #d6249f;
    filter: brightness(1.5);
  }

  .WA:hover {
    fill: #32cb31;
  }
}
