@import url("./../../App.css");

@media (min-width: 767px) {

 
.mainNav{
  position: sticky;
  top: 0;
  width: 100%;

  background: var(--white);
  height: 5rem;
  box-shadow: var(--shadow);

  z-index: 9;
}



  .mainNavBig {
    position: sticky;
    top: 0;
    width: 100%;
    
    /* background: var(--white); */
    height: 5rem;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 9;
    margin: 4rem;
    width: 100%;
    justify-content: space-between;
  } 

  .navDivBig {
    transition: 600ms;
  }

  .navDiv,
  .navDivBig {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    z-index: 10;
  }

  .mainNav {
  }

  .fughesiInk {
    padding-left: 2rem;
    font-weight: var(--bold);
  }

  .NavBG {
    position: static;
    min-height: 100%;
    transform: scale(1);
    display: inline-block;
    overflow: auto;
    align-items: center;
  }

  .navBigUL,
  .navBigULBig {
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--black);
    padding: 0 2rem 0 0;
  }

  .navBigUL li a {
    font-size: var(--p0);
  }

  .socials,
  .socialsBig {
    margin: 0 0.5rem;
    fill: var(--color4);
    cursor: pointer;
  }

  .etsy {
    position: relative;
  }

  .etsy:hover {
    fill: #e65300;
    filter: brightness(1.5);
  }

  .etsy::after {
    content: "ETSY";
    color: #e65300;
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 90px;
  }

  .FB2:hover {
    fill: #6e87f5;
    filter: saturate(5);
  }

  .IG2:hover {
    fill: #d6249f;
    filter: brightness(1.5);
  }

  .WA:hover {
    fill: #32cb31;
  }

  .monkeyHead {
    margin: 0 1.5rem 0 2rem;
    width: 50px;
    fill: var(--color3);
    transition: 1000ms;
  }
  
  .monkeyHeadBig {
    /* margin: 0 1.5rem 0 2rem; */
    width: 150px;
    fill: var(--color5);
    transition: 1000ms;
  }
}
