@import url("../../App.css");

.formContainer {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100%;
  max-width: 80%;
}

.form {
  display: grid;
  gap: 0.625rem;
  grid-template: repeat(4, auto) / repeat(2, 1fr);
  place-items: center;

  height: minmax(500px, auto);
  border-radius: 0.625rem;
  background-color: var(--color2);
  /* background-color: #eee; */
  box-shadow: var(--shadow3);
}

.form * {
  margin: 1em;
  height: 1.75rem;
  width: 90%;
  border: 0;
  border-radius: 0.3125rem;
  box-shadow: var(--shadow1);
}

.comment {
  height: 10.9375rem;
  max-width: 31.25rem;
  grid-column: 1 / span 2;
}

button {
  cursor: pointer;
  grid-column: 1 / span 2;
  background-color: var(--color4);
  color: var(--color1);
  transition: 0.5s ease;
}

button:hover,
button:focus {
  color: var(--fill);
  background-color: var(--color6);
  font-weight: var(--bold);
}

input,
select,
textarea {
  color: var(--color4);
  padding: 0.5em;
}

textarea {
  resize: vertical;
}
