@import url("../../styles.css");

.topContainer {
  display: grid;
  gap: 20px;

  grid-template-areas:
    "showcase showcase topboxA"
    "showcase showcase topboxB";
}

.showcase {
  grid-area: showcase;
  padding: 3rem;
  min-height: 400px;
  background: url("https://source.unsplash.com/random/") no-repeat center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  box-shadow: var(--shadow);
}

.showcase p {
  /* mix-blend-mode: soft-light; */
  font-size: 1.3rem;
  color: var(--white);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0%;
  color: var(--white);
}

.topbox {
  padding: 1.5rem;
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}
.topboxA {
  grid-area: topboxA;
}

.topboxB {
  grid-area: topboxB;
}

.price {
  font-size: 2.5rem;
}

@media (max-width: 700px) {
    .topContainer {
      grid-template-areas:
        "showcase showcase"
        "topboxA topboxB";
    }
    .h1 {
        font-size: 2.5rem;
    }
  }

@media (max-width: 500px) {
    .topContainer {
      grid-template-areas:
        "showcase"
        "topboxA"
        "topboxB";
    }
    .h1 {
        font-size: 2.5rem;
    }
  }
  