@import url("./../../App.css");

.shoppingCartMain {
  display: grid;
  height: 100vh;
  grid-gap: 0.5rem;
  grid: repeat(2, 1fr) / 60% 30%;
  grid-template-areas:
    "title title"
    "items sidebar";
  place-content: center;
  margin: 5rem 0 10rem;
}

.shoppingCartHead {
  grid-area: title;
  margin: 10rem 0 3rem;
}

.shoppingCartTitle {
  font-size: var(--h1);
  background-color: var(--color3);
  color: var(--color6);
  font-weight: var(--bold);
  padding: 1.25em;
}

.moneySign {
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}

.shoppingCartItems,
.shoppingCartSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--p1);
  text-decoration: underline;
  opacity: 0;
}

.shoppingCartItems {
  grid-area: items;
  animation: FCP 1500ms ease-in forwards;
}

.shoppingCartItems > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.75rem;
  font-size: var(--p0);
}

.shoppingCartSidebar {
  grid-area: sidebar;
  animation: FCP 2500ms ease-in forwards;
}

.shoppingCartSidebar > div {
  display: flex;
  flex-direction: column;
}

.blur {
  filter: blur(var(--blur));
}
