@import url("./../../App.css");

.shoppingCartMain {
  display: grid;
  height: 100vh;
  grid: repeat(4, 1fr) / 95vw;
  grid-template-areas:
    "title"
    "stuff";
  place-content: center;
}

.shoppingCartHead {
  grid-area: title;
  margin-top: 10rem;
}

.shoppingCartTitle {
  font-size: var(--h1);
  background-color: var(--color3);
  color: var(--color6);
  font-weight: var(--bold);
  padding: 1.25em;
}
.moneySign {
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}

.stuff {
  grid-area: stuff;
  font-size: var(--p0);
  overflow-y: scroll;
  opacity: 0;
  animation: FCP 1500ms ease-in forwards;
}

.blur {
  filter: blur(var(--blur));
}
