@import url("../../App.css");

.construction {
  max-width: 100%;
  min-height: 50vh;
  
  display: grid;
  place-items: center;

  margin-bottom: 6rem;
}

h1 {
  font-size: var(--h1);
  text-align: center;
}

