@import url("../../../App.css");

.portfolio {
  margin-top: 6.25rem;

  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

img {
  width: 100%;
  box-shadow: var(--shadow);
}

.nameIMG {
  text-align: center;
}

.blur {
  filter: blur(var(--blur));
}
