@import url("./../../App.css");

.thanksMain {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(12, 1fr);
}

.thanksCard {
  position: relative;
  grid-area: 2 / 4 / 3 / -4;
  height: 150px;
  width: 100%;
  max-width: 13.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color1);
}

.thanksCard::before,
.thanksCard::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 18px;
  left: 10px;
  width: 50%;
  top: 80%;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-8deg);
}
.thanksCard::after {
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.thanksCard > img {
width: 6rem;
padding: .5rem;
mix-blend-mode: overlay;
}

.thanksCard > h2 {
  text-align: center;
  mix-blend-mode: overlay;
  margin: 0;
}
