@import url("../../App.css");

.contactMain {
  display: grid;
  height: 30rem;
  min-height: 85vh;
  width: minmax(23.125rem, 100%);
  place-items: start center;
}

.whatsApp {
  padding: 2rem 0 5rem;
  text-align: center;
  font-weight: var(--bold);
  text-shadow: 0.5px 0 #fff, 0 0.5px #fff, -0.5px 0 #fff, 0 -0.5px 0 #fff;
}

.blur {
  filter: blur(var(--blur));
}
