@import url("../../App.css");

.contactMain {
  display: grid;
  min-height: 85vh;
  max-width: 100vw;
  place-items: start center;
  /* background-color: var(--color1); */
}

.blur {
  filter: blur(var(--blur));
}
