@import url("../../App.css");

.homeMain {
  background: url("../../images//portraits/ready.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  grid-area: showcase;
  padding: 3rem 3rem 0 3rem;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.recolorBG {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.33;
  /* background: black; */
  /* background-image: radial-gradient(white, black); */
  mix-blend-mode: overlay;
}

.welcome {
  position: relative;
  margin: 0 0 0 -15px;
}

.welcome::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: red;
}

.dot {
  display: inline-block;
  font-size: 0.25em;
  transform: rotate(33deg);
}

.fughesi {
  position: sticky;
  top: 1rem;
  margin-top: 0;
  font-size: 3.8rem;
  margin-bottom: 0;

  color: var(--white);
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.arrowBoard {
  transform: translateY(75%);
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  background: url("../../images/Icons/Dots.svg") no-repeat;
  object-fit: cover;

  background: #0008;
  /* mix-blend-mode: multiply; */
}

.description h3 {
  margin: auto;
  font-size: 4rem;
  color: var(--white);
}

.info {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);

  padding: 3rem;

  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3498db,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: var(--shadow);
}

.infoRight {
  display: flex;
  justify-content: space-around;
}

.invisible {
  visibility: hidden;
}

.none {
  display: none;
}

.absolute {
  position: absolute;
  top: 1rem;

  z-index: 2;
}

/************
MEDIA QUERIES  
*************/

@media (max-width: 700px) {
  .topContainer {
    grid-template-areas:
      "showcase showcase"
      "topboxA topboxB";
  }
  .h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .topContainer {
    grid-template-areas:
      "showcase"
      "topboxA"
      "topboxB";
  }
  .h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 700px) {
  .info {
    grid-template-columns: 1fr;
  }
  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}
