@import url("../../App.css");

.boxes {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  background: url("../../images/Icons/Dots.svg") repeat;
  object-fit: fill;

  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
