@import url("./../../App.css");
/* 
.successMain {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
}

.successMain div {
grid-area: 1 / 4 / 3 / 8;
display: flex;
flex-direction: column;

justify-content: end;
background-color: blue;
} */
