@import url("../../App.css");

.blur {
  filter: blur(5px);
}

.mainNav {
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;

  background: var(--white);
  height: 5rem;
  box-shadow: var(--shadow);

  z-index: 9;
}

.navDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  z-index: 10;
}

.fughesiInk {
  margin: 0;
  padding-left: 1rem;
  font-weight: var(--reg);
  color: var(--color4);
}

.togDiv {
  position: fixed;
  inset: 0 0 auto auto;
  height: 6rem;
  width: 6rem;
  z-index: 10;
  
}

.hamburger {
  position: absolute;
  top: 40%;
  left: 30%;
}

.hamburger div {
  position: relative;
  transition: 250ms ease-in-out;
  background-color: var(--color4);
  width: 2rem;
  height: 2px;
}

.hamburger div::before,
.hamburger div::after {
  content: "";
  position: absolute;
  background-color: var(--color4);
  width: 100%;
  height: 2px;
  bottom: -12px;
}

.hamburger div::before {
  bottom: 12px;
}

.rotate {
  transform: rotate(495deg);
}

.rotate::before,
.rotate::after {
  top: 0%;
  transform: rotate(90deg);
}

.NavBG {
  position: fixed;
  inset: 0 0 0 0;

  display: grid;
  height: 100vh;
  width: 100vw;
  place-items: center;

  transform: scale(0);
  transition: 250ms ease-in-out;
  z-index: 9;
}

.scale {
  transform: scale(1);
}

.NavBG > ul {
  margin: 0;
  padding: 0;
}

.mainNav li {
  padding: 1rem;
}

.link {
  background: #f00;
  mix-blend-mode: normal;
}

.link:hover,
.link:active {
  border-bottom: 4.5px solid black;
}

.link:active {
  box-shadow: inset 0 0 5px #000;
}

/* 
@media (max-width: 700px) {
  .mainNav ul {
    grid-template-rows: 1fr;
  }
} */
