@import url("./../../App.css");

.loadPage {
  position: fixed;
  inset: 0 0 0 0;
  height: 100vh;
  display: grid;
  place-items: center;

  animation: load 250ms ease-in-out;
}

.element {
  position: unset;
  height: unset;
}

.element h1 {
  color: var(--color3);
}

.loadPage h1 {
  font-size: minmax(2rem, 5rem);
  color: var(--color4);
}

.elipse span {
  padding: 0 0.3125rem;
  animation: twinkle 1.5s ease infinite;
}

.elipse span:nth-child(2) {
  animation-delay: 0.1s;
}

.elipse span:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}
