@import url("./../../App.css");

.inventoryPageMain {
  margin-bottom: 33rem;
}

.inventoryTitle h1,
.inventoryTitle p {
  text-align: center;
}

.inventoryTitle h1 {
  font-size: var(--h1);
}

.inventoryTitle p {
  font-size: var(--p1);
}

.inventoryPageMain h3 {
  margin: 2rem 0 -3.5rem 0.3rem;
}

.blur {
  filter: blur(var(--blur));
}
