@import url('./../../App.css');

.inventoryPageMain {
    margin-bottom: 33rem;
}

.inventoryTitle h1, 
.inventoryTitle p {
    text-align: center;
}

.inventoryTitle p {
    font-size: var(--p1);
}

.inventoryPageMain h3 {
    margin: 2rem 0 -3.5rem .3rem;
}

.blur {
    filter: blur(var(--blur));
  }
  