@import url("./../../App.css");

.inventoryPageMain {
  display: grid;
  margin-top: 10rem;
  min-height: 100vh;
  grid-template: repeat(3, clamp(11rem, 7.381rem + 18.0952vw, 30rem)) auto / 100%;
  grid-template-areas:
    "title"
    "";
  align-items: center;
}

.inventoryTitle {
  grid-area: "title";
  text-align: center;
}

.inventoryTitle h1 {
  font-size: var(--h1);
}

.inventoryTitle p {
  font-size: var(--p1);
}

.inventory {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  grid-template-rows: 8rem;
  align-items: center;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.inventory::-webkit-scrollbar {
  display: none;
}

.inventoryCards {
  padding-left: 1rem;
  position: relative;
  max-width: fit-content;
  place-items: center;
  scroll-snap-align: start;
  inline-size: 100%;
  padding-right: 0.25rem;
}

.carouselLinks {
  z-index: -1;
  object-fit: fill;
  object-position: top;
  border-radius: 5px;
  aspect-ratio: 2/1;
  width: 100%;
  box-shadow: var(--shadow3);
}

.blur {
  filter: blur(var(--blur));
}
