@import url("../../App.css");

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-template-areas: ". b c";
  background-color: var(--white);

  animation: stall 3s;
}

.copyright {
  grid-area: "c";
  align-self: flex-end;
  justify-self: flex-end;
  padding: 0.25rem 0.5rem;

  color: var(--black);
  font-size: 0.45rem;
  text-align: center;
}

.shirtIcon,
.heartIcon {
  transform: translateY(10%);
  margin: 0 0.4375rem;
}

.iconGroup {
  grid-area: "b";
  align-self: center;
  justify-self: center;
  padding: 1rem 0.5rem 1rem 0.3rem;
}

@keyframes stall {
  0% {
    visibility: hidden;
  }
  95% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
