@import url("../../App.css");

.footer {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;

  background: #fff;
}

.copyright {
  color: var(--dark);
  text-align: left;
  padding: 1rem;
}

.shirtIcon,
.heartIcon {
  transform: translateY(10%);
  margin: 0 7px;
}

.iconGroup {
  align-self: center;
  justify-self: center;
}
