@import url("../../App.css");

#socialsMain {
  grid-area: c;
  height: 100%;

  background: url("../../images/pattern-hills.svg") no-repeat;
  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.socialsContainer {
  display: flex;
  margin: 0 0 1.2em;
}

.socialsContainer > * {
  margin: 0.5em 2em;
  padding-bottom: 0.5em;
  cursor: pointer;
  border-bottom: 2px solid #ffa50000;
}

.socialsContainer > *:hover {
  transform: translatey(-2px);
  border-bottom: 2px solid #ffa500;
}

.socialsContainer a div {
  display: flex;
}
