@import url("../../App.css");

.mainLandingPage {
  display: grid;
  min-height: 100vh;
  max-width: 100%;
  grid-template: 65vh 35vh / 1.5rem 1fr 1.5rem;
  grid-template-areas:
    ". top ."
    ". bottom .";
  background: var(--white);
}

.topLandingPage {
  grid-area: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  max-width: 100%;
}

.topLandingPage h1 {
  margin-bottom: 0;
}
.topLandingPage em {
  position: relative;
  display: block;
  margin-bottom: .5em;
  font-style: normal;
  font-weight: var(--reg);
  font-size: var(--p1);
}

.topLandingPage em::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0%;
  height: 0.25em;
  width: 5em;
  background-color: var(--color4);
}

.hoverFill {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: var(--h1);
  color: transparent;
  -webkit-text-stroke: var(--color4) 1px;
}

.topLandingPage span:last-child {
  padding-left: 0.6rem;
}

.fug::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0%;
  color: var(--color4);
  -webkit-text-stroke: transparent 0px;
  overflow: hidden;
  transition: width 0.8s ease-in-out;
}

.dot {
  position: relative;
  display: inline-block;
  transform: rotate(-45deg) translateY(-30%);
  font-size: 0.75rem;
  font-size: var(--p1);
}

.dot::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 103%;
  height: 0.25em;
  width: 0.25em;
  border-radius: 50%;
  background-color: var(--color4);
}

.ink::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0%;
  color: var(--color4);
  -webkit-text-stroke: transparent 0px;
  overflow: hidden;
  transition: width 0.8s ease-in-out;
}

.fug:hover::before {
  width: 100%;
}

.ink:hover::before {
  width: 100%;
}

.topLandingPage p {
  margin: 0 0 0 2.5em;
  width: 100%;
  font-size: var(--p2);
}

.colorsDiv div {
  display: flex;
  /* height: 10em; */
}

.colorsDiv div:nth-child(1) {
  width: 1.5em;
  background-color: var(--color5);
}