@import url("../../App.css");

.mainLandingPage {
  display: grid;
  min-height: 100vh;
  max-width: 100%;
  grid-template: 100vh auto auto / 1.5rem 1fr 1.5rem;
  grid-template-areas:
    ". top ."
    ". cards ."
    "bottom bottom bottom ";
  background: var(--white);
}

.topLandingPage {
  grid-area: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100%;
  max-width: 100%;
}

.topLandingPage h1 {
  margin-bottom: 0;
}

.topLandingPage em {
  position: relative;
  align-self: flex-start;
  font-style: normal;
  display: block;
  text-align: left;
  font-weight: var(--reg);
  font-size: var(--p1);
  margin-bottom: 0.5em;
}

.topLandingPage em::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0%;
  height: 0.25em;
  width: 5em;
  background-color: var(--color4);
}

.hoverFill {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: var(--h1);
  color: transparent;
  -webkit-text-stroke: var(--color4) 1px;
}

.fug::before,
.ink::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0%;
  color: var(--color4);
  -webkit-text-stroke: transparent 0px;
  overflow: hidden;
  transition: width 0.8s ease-in-out;
}

.dot {
  position: relative;
  display: inline-block;
  transform: rotate(-45deg) translateY(-30%);
  font-size: 0.75rem;
  font-size: var(--p1);
  margin-right: 0.6rem;
}

.dot::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 103%;
  height: 0.25em;
  width: 0.25em;
  border-radius: 50%;
  background-color: var(--color4);
}

.fug:hover::before,
.ink:hover::before {
  width: 100%;
}

.topLandingPage p {
  margin: 0 0 0 2.5em;
  width: 100%;
  font-size: var(--p2);
}

.colorsDiv div {
  display: inline-block;
  height: 1em;
  width: 1.5625rem;
}

.colorsDiv div:nth-child(2) {
  background-color: var(--color5);
}
.colorsDiv div:nth-child(3) {
  background-color: var(--color4);
}
.colorsDiv div:nth-child(4) {
  background-color: var(--color3);
}
.colorsDiv div:nth-child(5) {
  background-color: var(--color2);
}
.colorsDiv div:nth-child(6) {
  background-color: var(--color1);
}

.cards {
  grid-area: cards;
}

.info {
  grid-area: bottom;
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, auto);
  width: 100%;

  margin-top: 1.25rem;
  padding: 0.5rem;
  background: linear-gradient(to left, #3498db, #2c3e50);
  box-shadow: var(--shadow);
}

.tooltip {
  position: relative;
}

.tooltipText {
  visibility: hidden;
  position: absolute;
  top: -50%;
  left: calc(-50% - 0.3125rem);
  width: 7.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white);
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.3125rem 0;
  font-size: 0.5rem;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

.infoLeft {
  padding: 1rem;
}

.infoLeft p {
  max-width: 20em;
}

.infoRight {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.infoRight svg {
  padding-bottom: 1rem;
}

.whatsApp {
  text-align: center;
  font-weight: var(--bold);
  text-shadow: .5px 0 #fff, 0 .5px #fff, -.5px 0 #fff, 0 -.5px 0 #fff;
}