@import url(../../App.css);

.graphicsMain {
  position: relative;
}

.topPlaceholder {
  position: sticky;
  top: 0;

  padding: 1.5em;
  background: var(--white);
  height: 150px;
  box-shadow: 0 0 10px var(--black);

  font-size: 2em;

  z-index: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
