@import url(../../App.css);

.graphicsMain {
  position: relative;
  width: 100%;
}

/* .topPlaceholder {
  position: sticky;
  overflow: hidden;
  top: 0;
  width: 100%;

  padding: 1.5em;
  background: var(--white);
  height: 150px;
  box-shadow: 0 0 10px var(--black);

  font-size: 2em;
  text-align: center;

  z-index: 2;
} */

.blur {
  filter: blur(5px);
}
