@import url("./styles.css");

.appWrap {
  position: relative;
  padding: 1.5rem;
  height: 100vh;
  width: 100vw;

  animation: fadeIn 1500ms ease-in;

  display: grid;
  gap: 20px;
}

.btn {
  padding: 0.6rem 1.3rem;
  border: 0;
  border-radius: 4px;
  text-align: center;
  background: var(--dark);
  color: var(--white);
}

img {
  max-width: 100%;
}

@media (max-width: 500px) {
  .appWrap {
    padding: 0;
  }
}


/*  under construction page */
.comingSoon {
  position: fixed;
  inset: 2rem 2rem 2rem 2rem;
  background: var(--dark);
  z-index: 5;

  display: flex;
  font-family: monospace;
}

.comingSoon h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: calc(50% - 7.5rem) auto;

  color: var(--white);
  font-size: 5em;
  align-self: flex-start;
  border-right: 0.15em solid orange;
  animation: typing 3.5s steps(30, end), blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 450px;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}