@import url("./../../App.css");

.confirmMain h1 {
  text-shadow: var(--shadow3), var(--shadow2);
  color: #fff;
  text-align: center;
  font-size: var(--size1);
}

.blur {
  filter: blur(var(--blur));
}