@import url("../../App.css");

.box {
  width: 6.25rem;
  display: flex;
  flex-direction: column;
}

.box span {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  margin: -0.625rem;

  animation: pulse 2s ease-in infinite;
}

.box span:nth-child(1) {
  animation-delay: -0.75s;
  border-bottom: 0.078125rem solid var(--color4);
  border-right: 0.078125rem solid var(--color4);

  transform: rotate(45deg);
}

.box span:nth-child(2) {
  border-bottom: 0.140625rem solid var(--color4);
  border-right: 0.140625rem solid var(--color4);

  transform: rotate(45deg);
  animation-delay: -0.375s;
}

.box span:nth-child(3) {
  border-bottom: 0.1875rem solid var(--color4);
  border-right: 0.1875rem solid var(--color4);

  transform: rotate(45deg);
  animation-delay: -0.08s;
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-1.25rem, -1.25rem);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(1.25rem, 1.25rem);
  }
}
