@import url(../../App.css);

.UpArrow {
  position: fixed;
  inset: auto auto 0 auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  

}

.arrowIcon {
  height: 2.8em;

  display: block;
  padding: 0.5em;

  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.arrowIcon:hover {
  animation: floating ease-in-out 1750ms infinite;
}

.leftBar {
  /* position: absolute; */
  background-color: transparent;
  top: 0;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}
.leftBar::after {
  content: "";
  background-color: white;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.rightBar {
  /* position: absolute; */
  background-color: transparent;
  top: 0px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}

.rightBar::after {
  content: "";
  background-color: white;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.tops {
  margin-top: 0;
  color: var(--black);
  text-align: center;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }
}
