@import url("../../App.css");

.contactMain {
  display: grid;
  height: 30rem;
  min-height: 100vh;
  width: minmax(23.125rem, 100%);
  place-items: start center;
  margin-bottom: 1.5rem;
}

.contactMain h1 {
  font-size: var(--h1);
}

.WAlink {
  margin: 2rem 0 5rem;
  text-align: center;
  font-weight: var(--bold);
  color: var(--white);
  border-bottom: 2px solid var(--color6);
  border-top: 2px solid var(--color6);
  text-shadow: 2px 2px 15px var(--color3);
}

.blur {
  filter: blur(var(--blur));
}
